.movies {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #a0a0a0;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

@media screen and (max-width: 767px) {
  .movies {
    font-size: 14px;
  }
}
