.aboutProject {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-height: 608px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1279px) {
  .aboutProject {
    max-height: 585px;
  }
}

@media screen and (max-width: 767px) {
  .aboutProject {
    max-height: 641px;
  }
}

.aboutProject__title-container {
  width: 89%;
  max-height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  display: flex;
  justify-content: flex-start;
  margin: 110px auto 0;
}

@media screen and (max-width: 1279px) {
  .aboutProject__title-container {
    width: 87%;
    margin-top: 90px;
  }
}

@media screen and (max-width: 767px) {
  .aboutProject__title-container {
    width: 88.75%;
    margin-top: 70px;
  }
}

.aboutProject__title {
  line-height: 26.63px;
  font-size: 22px;
  letter-spacing: -0.88px;
  font-weight: 400;
  margin: auto 0 23px;
}

@media screen and (max-width: 767px) {
  .aboutProject__title {
    line-height: 22px;
    font-size: 18px;
    letter-spacing: -0.72px;
    margin-bottom: 28px;
  }
}

.aboutProject__description {
  width: 89%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  margin: 70px auto 0;
}
@media screen and (max-width: 1279px) {
  .aboutProject__description {
    width: 87%;
    gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .aboutProject__description {
    width: 88.75%;
    flex-direction: column;
    margin-top: 61px;
    gap: 57px;
  }
}
.aboutProject__block {
  display: flex;
  flex-direction: column;
  width: 48.2%;
  gap: 26px;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1279px) {
  .aboutProject__block {
    width: 47.75%;
    gap: 22px;
  }
}

@media screen and (max-width: 767px) {
  .aboutProject__block {
    width: 100%;
    gap: 16px;
  }
}

.aboutProject__subtitle {
  line-height: 24.2px;
  font-size: 20px;
  letter-spacing: -0.8px;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .aboutProject__subtitle {
    line-height: 21.78px;
    font-size: 18px;
    letter-spacing: -0.72px;
  }
}

.aboutProject__text {
  margin: 0 auto;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
}

@media screen and (max-width: 1279px) {
  .aboutProject__text {
    line-height: 18px;
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .aboutProject__text {
    line-height: 16px;
    font-size: 11px;
  }
}

.aboutProject__timeline-container {
  width: 89%;
  margin: 110px auto;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 36px 31px;
}

@media screen and (max-width: 1279px) {
  .aboutProject__timeline-container {
    width: 87%;
    margin: 93px auto 90px;
    grid-template-columns: 1fr 3.7fr;
  }
}

@media screen and (max-width: 767px) {
  .aboutProject__timeline-container {
    width: 88.75%;
    margin: 60px auto 69px;
    grid-template-columns: 1fr 1.8fr;
    grid-template-rows: 35px 24px;
  }
}

.aboutProject__timeline-schale {
  background-color: #f2f2f2;
  padding-top: 9px;
  line-height: 16.94px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .aboutProject__timeline-schale {
    padding-top: 11px;
    line-height: 13.31px;
    font-size: 11px;
  }
}

.aboutProject__timeline-schale_theme_dark {
  background-color: #000;
  color: #fff;
}

.aboutProject__timeline-title {
  padding-top: 14px;
  color: #a0a0a0;
  line-height: 17px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
}

@media screen and (max-width: 1279px) {
  .aboutProject__timeline-title {
    font-weight: 400;
  }
}

@media screen and (max-width: 767px) {
  .aboutProject__timeline-title {
    padding-top: 10px;
    line-height: 13.31px;
    font-size: 11px;
  }
}
