.searchbar {
  width: 89%;
  margin: 0 auto 10px;
  border-bottom: 1px solid rgba(232, 232, 232, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .searchbar {
    width: 92.2%;
  }
}

@media screen and (max-width: 767px) {
  .searchbar {
    width: 93.75%;
  }
}

.searchbar__container {
  width: 100%;
  margin: 70px 0 0 0;
  border-radius: 9px;
  border: 1px solid rgba(253, 253, 253, 1);
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1279px) {
  .searchbar__container {
    margin: 80px 0 0 0;
  }
}

.searchbar__icon {
  width: 34px;
  height: 34px;
  margin: 19px 10px 19px 19px;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .searchbar__icon {
    display: none;
  }
}

.searchbar__input {
  margin: 25px auto 25px 0;
  padding: 0;
  border: 0;
  color: #a0a0a0;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

@media screen and (max-width: 1279px) {
  .searchbar__input {
    min-width: 300px;
  }
}

@media screen and (max-width: 767px) {
  .searchbar__input {
    min-width: 150px;
    margin-left: 19px;
    font-size: 14px;
  }
}

.searchbar__input-error {
  color: #ff4062;
  height: 10px;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0px;
  align-self: flex-start;
  margin: 10px auto 37px 20px;
}

@media screen and (max-width: 1279px) {
  .searchbar__input-error {
    margin-bottom: 77px;
  }
}

@media screen and (max-width: 767px) {
  .searchbar__input-error {
    margin-bottom: 0px;
  }
}

.searchbar__button {
  margin: 19px 19px 19px 21.35px;
  border-radius: 20px;
  border: #000;
  height: 34px;
  width: 58.65px;
  background-color: #000;
  color: #fff;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  text-align: center;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s linear;
}

.searchbar__button:hover {
  opacity: 0.7;
  transition: opacity 0.2s linear;
}

.searchbar__slidebar {
  margin: 16px 0;
  max-height: 40px;
  border-left: 1px solid rgba(203, 203, 203, 1);
  align-items: center;
}

@media screen and (max-width: 767px) {
  .searchbar__slidebar {
    max-height: 20px;
    margin: 44px auto;
    border: none;
  }
}

.searchbar__slidebar_location_inside {
  display: flex;
}

@media screen and (max-width: 767px) {
  .searchbar__slidebar_location_inside {
    display: none;
  }
}

.searchbar__slidebar_location_outside {
  display: none;
}

@media screen and (max-width: 767px) {
  .searchbar__slidebar_location_outside {
    display: flex;
  }
}
