.header {
  width: 100%;
  max-height: 74px;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.header_color_pink {
  background-color: #f3c1f8;
}

.header__logo {
  width: 38px;
  height: 38px;
  margin: 18px auto 18px 70px;
  object-fit: cover;
  justify-self: flex-start;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s linear;
}

.header__logo:hover {
  opacity: 0.7;
  transition: opacity 0.2s linear;
}

@media screen and (max-width: 1279px) {
  .header__logo {
    margin-left: 30px;
  }
}

@media screen and (max-width: 767px) {
  .header__logo {
    margin-left: 14px;
  }
}

.header__menu {
  display: flex;
  margin: 29px 30px 29px auto;
}

@media screen and (max-width: 767px) {
  .header__menu {
    margin-right: 14px;
  }
}

.header__menu_type_authorized {
  display: flex;
  flex-direction: row;
  margin: 28px 50px 28px auto;
  gap: 20px;
}

@media screen and (max-width: 1279px) {
  .header__menu_type_authorized {
    display: none;
  }
}

.header__menu-item {
  line-height: 16px;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s linear;
}

.header__menu-item:hover {
  opacity: 0.7;
  transition: opacity 0.2s linear;
}

.header__menu-item_type_authorized {
  line-height: 18px;
  font-size: 14px;
  font-weight: 400;
}

.header__menu-item_type_authorized:first-child {
  font-weight: 500;
}

.header__auth-container {
  margin: 21px 70px 23px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  color: #000;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s linear;
}

@media screen and (max-width: 1279px) {
  .header__auth-container {
    margin: 15px 30px 15px 0;
    width: 44px;
  }
}

@media screen and (max-width: 767px) {
  .header__auth-container {
    margin: 26.5px 14.5px 27px 0;
    width: 40px;
  }
}

.header__auth-text {
  display: flex;
  line-height: 16px;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s linear;
}

.header__auth-text:hover {
  opacity: 0.7;
  transition: opacity 0.2s linear;
}

@media screen and (max-width: 1279px) {
  .header__auth-text {
    display: none;
  }
}

.header__menu-icon {
  border: none;
  padding: 15px 15px;
  margin-left: 13px;
  background-color: #fff;
  background-image: url("../../images/icon_auth_black.svg");
  object-fit: cover;
}

.header__menu-icon_color_pink {
  background-color: #f3c1f8;
  background-image: url("../../images/icon_auth_pink.svg");
}

@media screen and (max-width: 1279px) {
  .header__menu-icon {
    background-image: url("../../images/icon_burger-menu_medium.svg");
    padding: 22px 22px;
    margin: 27.5px 30px 27.5px 0;
  }
}

@media screen and (max-width: 767px) {
  .header__menu-icon {
    background-image: url("../../images/icon_burger-menu_small.svg");
    padding: 21.5px 20px;
    margin: 26.5px 14.5px 27px 0;
  }
}
